<div class="tab-page">
  <h2 class="tab-title">{{ 'HEALTH.CLIENTES_TITLE' | translate }}</h2>
  <p class="tab-subtitle">{{ 'HEALTH.CLIENTES_SUBTITLE' | translate }}</p>

  <div class="split-layout">
    <!-- Left Column: Bar Chart List -->
    <div class="list-container">
      <h3>{{ 'HEALTH.CLIENTES_LEFT_TITLE' | translate }}</h3>
      
      <div class="h-bar-list">
        <div class="h-bar-item" *ngFor="let item of clientes">
          <span class="h-bar-label">
            <ng-container *ngIf="item.key; else textLabel">
              {{ 'HEALTH.' + item.key | translate }}
            </ng-container>
            <ng-template #textLabel>
              {{ item.label }}
            </ng-template>
          </span>
          <div class="h-bar-track">
            <div class="h-bar-fill" [style.width.%]="item.value / 130 * 100"></div>
          </div>
          <span class="h-bar-value">{{ item.value }}</span>
        </div>
      </div>
    </div>

    <!-- Right Column: Insight Cards -->
    <div class="insights-container">
      <h3>{{ 'HEALTH.CLIENTES_RIGHT_TITLE' | translate }}</h3>
      
      <div class="insight-card orange-border">
        <h4>{{ 'HEALTH.CLIENTES_CARD1_TITLE' | translate }}</h4>
        <p>{{ 'HEALTH.CLIENTES_CARD1_DESC' | translate }}</p>
      </div>

      <div class="insight-card light-blue-border">
        <h4>{{ 'HEALTH.CLIENTES_CARD2_TITLE' | translate }}</h4>
        <p>{{ 'HEALTH.CLIENTES_CARD2_DESC' | translate }}</p>
      </div>

      <div class="insight-card teal-border">
        <h4>{{ 'HEALTH.CLIENTES_CARD3_TITLE' | translate }}</h4>
        <p>{{ 'HEALTH.CLIENTES_CARD3_DESC' | translate }}</p>
      </div>
    </div>
  </div>
</div>
